@import "tailwindcss";

/* src/index.css */
body {
  margin: 0;
  overflow-x: hidden; /* Prevent horizontal scrollbar */
}

section {
  flex-shrink: 0; /* Prevent sections from shrinking */
  display: flex;
  align-items: center;
  justify-content: center;
}